body {
    background-color: rgb(233, 233, 233);
}

header {
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
}

section {
    text-align: center;
}

.container {
    margin-left: 325px;
    width: 450px;
    padding: 50px 100px 50px 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}


h2 {
    float: left;
}

div {
    width: 300px;
    border: 5px dashed rgb(220, 220, 220);
    padding: 125px 75px 125px 75px;
    font: rgb(220, 220, 220);
}

hr.solid {
    border-top: 3px solid #bbb;
  }


#myBtn {
    background-color: rgb(163, 4, 4);
    border: none;
    color: white;
    padding: 15px 42px;
    margin: 50px 25px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px;
    transition-duration: 0.5s;
  }

  #myBtn:hover {
      background-color: white;
      color: rgb(163, 4, 4);
      border: solid;
      border-color: rgb(163, 4, 4);
  }

